/* CONTACTO */
/* #main-contacto {
    justify-content: center;
}
#formulario {
    margin: 2%;
}
#div-formulario-interno {
    margin: 2%;
} */

// #formulario {
//     display: inline-block;
//     width: 30%;
//     height: 80%;
//     padding: 1%;
//     border-width: 5px;
//     border-style: double;
//     margin-left: 35%;
//     margin-top: 2%;
//     line-height: 190%;
//     font-weight: 400;
//     div{
//         input {
//             height: 30px;
//         }
//         button {
//             width: 15%;
//             margin-left: 20%;
//         }        
//     }
// }
input[type=text],
select,
textarea {
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    background-color: #4cd9c6;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6fe8d7;
}

.container {
    border-radius: 8px;
    background-color: #e6e6e6;
    padding: 1%;
    height: 90%;
    width: 60%;
    display: inline-block;
    form {
        height: 100%;
        label {
            font-size: small;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
#main-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}