header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #00A2E8;
}
.header__logo {
    display: flex;
    flex-basis: 50%;
    height: 100%;
    padding: 1%;
    justify-content: end;
}

.header__logo h1:hover {
    animation: wiggle 500ms infinite;
    animation-timing-function: linear;
}

@keyframes wiggle {
    0% {
        transform: translate(2px, 0);
    }

    50% {
        transform: translate(-2px, 0);
    }

    100% {
        transform: translate(2px, 0);
    }
}

#rblogo {
    max-height: 100%;
}

.header__contacto {
    justify-content: end;
    margin-top: 1%;
    flex-basis: 20%;
    margin-right: 4%;
    padding-left: 1%;
    height: 100%;
    /* bottom: 100%; */
    /* margin-left: 80%; */
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    div{
        a{
        
                text-decoration: none;
        
        }
    }
}
.header__contacto div:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

@keyframes pulse-ico {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.header__contacto__img {
    width: 10%;
    max-width: 100%
}