main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    background-image: url(../assets/images/fondo-celeste.jpg);
    background-position: center;
    background-size: cover;

}